.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 0.5em;
}

.btn {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  width: 80px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50%;
  background-color: $dark-grey;
  color: white;
  text-align: center;
  cursor: pointer;
  &--orange {
    background-color: $orange;
    transition: all 0.2s linear;
  }
  &--light-grey {
    background-color: $light-grey;
  }

  &--large {
    grid-column: span 2;
    width: 160px;
    border-radius: 30px;
  }
}

.selected {
  background-color: white;
  color: $orange;
}
