.calculator-body {
  width: 375px;
  height: 812px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  justify-content: space-between;
}

section {
  margin: 1em;
  width: 90%;
  display: flex;
}
